<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Endless-Space</h2>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/ES/bio.png" alt="">
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Projektinformationen</h3>
              <ul>
                <li><strong>Kategorie</strong>: Development</li>
                <li><strong>Plattformen</strong>: Android, iOS</li>
                <li><strong>Release Datum</strong>: 1 Mai, 2021 <span class="verschoben">VERSCHOBEN</span></li>
                <li><strong>Beta Release Einschreibung</strong>: <a href="https://rexstudios.ch/endless-space/beta">endlessspace.com/beta</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Ready for Take-Off?</h2>
              <p>
                Ihr startet als Rakete auf der Erde und fliegt durch unser Sonnensystem in die unendliche leere. Dabei müsst ihr diversen Hindernissen ausweichen wie unter anderem Raum-schrott, Satelliten, Sonden, Meteoriten und vielem mehr.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
<%- include('partials/footer') -%>
