<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Willkommen auf der neuen <span>RexStudios</span> Seite</h2>
          <p class="animate__animated animate__fadeInUp">Nun sind alle Softwares und Projekte auf dieser Seite vereint. Es erwarten euch viele Erneuerungen.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Mehr dazu</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Endless-Space Beta Release</h2>
          <p class="animate__animated animate__fadeInUp">Das erste Spiel aus dem Hause RexStudios befindet sich in der Beta Phase. Unter folgendem Link kannst du dich als Tester eintragen:</p>
          <a href="https://rexstudios.ch/endless-space" class="btn-get-started animate__animated animate__fadeInUp">Jetzt eintragen</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Deutschsprachige Coding Community</h2>
          <p class="animate__animated animate__fadeInUp">Du hast eine allgemeine Frage im Bereich Coding? Oder möchtest du einfach Leute aus dem gleichen Interessengebiet kennenlernen? Dann ist unsere Coding Community genau die richtige für dich. Trete noch heute bei</p>
          <a href="https://discord.gg/YS84Gq5" class="btn-get-started animate__animated animate__fadeInUp">Jetzt beitreten</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">
  <div class="wrapper">
    <img src="{{ url_for('static',filename='img/cookie.png') }}" alt="">
    <div class="content">
      <header>Cookies Hinweis</header>
      <p>Diese Website verwendet Cookies, um dir eine bessere Nutzererfahrung zu bieten.</p>
      <div class="buttons">
        <button class="item">Verstanden</button>
        <a href="#" class="item">Mehr erfahren</a>
      </div>
    </div>
  </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-discord"></i></div>
              <h4 class="title"><a href="https://rexarmy.ch">NEKOCITY by RexArmy</a></h4>
              <p class="description">Entdecke unsere Anime und Gaming Community</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bxs-bot"></i></div>
              <h4 class="title"><a href="https://sakumo.ywk.ch">SakumoBot</a></h4>
              <p class="description">Unser Discord Bot aus dem Hause RexStudios. Finde auf der Bot Website mehr Infos!</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bxs-rocket"></i></div>
              <h4 class="title"><a href="https://rexstudios.ch/endless-space">Endless Space</a></h4>
              <p class="description">Ihr startet als Rakete auf der Erde und fliegt durch unser Sonnensystem in die unendliche leere. Dabei müsst ihr diversen Hindernissen ausweichen wie unter anderem Raum-schrott, Satelliten, Sonden, Meteoriten und vielem mehr.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="https://rexarmy.ch/ra-members.html">RA Netzwerk</a></h4>
              <p class="description">Entdecke unser Social Media Netzwerk</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="/img/thumbnail.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=T9DLW0qI_nQ" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bxl-python"></i></div>
              <h4 class="title"><a href="">Coding Community</a></h4>
              <p class="description">In unserem Coding Discord Server lernst du viele Leute mit dem gleichen Interessengebiet kennen. Sie helfen dir bei Problemen weiter und führen interessante Unterhaltungen rund um das Thema.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-video"></i></div>
              <h4 class="title"><a href="">Einführungsvideo</a></h4>
              <p class="description">Links findest du das Einführungsvideo für unseren Server</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Was wir machen</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Multifunktionaler Discord Bot</h3>
            <p>
              Sakumo, unser Discord Bot, kann Moderations, Fun und nützliche Commands ausführen. Er vereinfacht die Server-Moderation mittels der vielfalt an Auto-Commands und baut den Server mit einigen Konfigurationen, wie beispielsweise das schnelle Bearbeiten von Usernames aus. <br>Auch für Server-Mitglieder ist der Bot gut geeignet. Er bietet einige Interaktions- und Bildbearbeitungs Befehle. Das kommende Shop System wird ein grosses Highlight werden, weitere Infos dazu auf der <a href="https://sakumo.ywk.ch">Website</a> von Sakumo Bot.
            </p>
            <ul>
              <li><i class="bi bi-check"></i>Über 70 Commands</li>
              <li><i class="bi bi-check"></i>24/7 Betrieb</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-2.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Aktive Communities</h3>
            <p>
              Wir betrieben verschiedene Communities in verschiedenen Bereichen, für die unsere Abteilung RexArmy.ch zuständig ist. Die <b>Gaming-Community</b> hat viele aktive Spieler. Momentan bauen wir hier eine grössere Nintendo Community auf, wo regelmässige Turniere stattfinden werden.
            </p>
            <p>
              Unsere Coding Community ist hilfsbereit, kompetent und steht für interessante Gespräche rund um die Programmiersprachen offen. Trete über <a href="https://discord.gg/pwaAUTMUta">diesen Link</a> bei.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/features-3.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/features-4.svg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

<%- include('partials/footer') -%>
