<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Link Shortener rlnk.be</h2>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/rlnk/bg1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/rlnk/bg2.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Projektinformationen</h3>
              <ul>
                <li><strong>Kategorie</strong>: Web-Applikation</li>
                <li><strong>Plattformen</strong>: Microsoft, macOS, iOS, Android und mehr (Web)</li>
                <li><strong>Release Datum</strong>: 15. Mai, 2021 <span class="verschoben">Alpha</span></li>
                <li><strong>Alpha Version</strong>: <a href="https://rlnk.be">rlnk.be/shorten</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Kürze deine Links</h2>
              <p>
                Dies ist ein unabhängiger und werbefreier Linkshortener. Es werden nach und nach mehr Funktionen hinzukommen. Der Vorteil an unserer Unabhängigkeit ist, dass wir viel mehr auf Communitywünsche eingehen können.<br>
                In Zukunft sind auch LinkLists geplant.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
<%- include('partials/footer') -%>
