<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">
    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Das Team</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Das Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/joel-nef.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/joel.nef"><i class="bi bi-twitter"></i></a>
                  <a href="https://joelnef.ch"><i class="bi bi-link"></i></a>
                  <a href="https://instagram.com/joel.nef"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Joel Nef</h4>
                <span>CEO</span>
                <p>Joel-Sananda Nef, wurde am 04 Februar 2006 geboren. In seiner Freizeit fährt er Ski oder Mofa, bearbeitet Bilder, Videos oder Podcasts, streamt, spielt  Schlagzeug, programmiert Webseiten oder besucht das Sportschiessen. Weitere Infos auf seiner Website</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/yao-kaiser.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/KaiserYao"><i class="bi bi-twitter"></i></a>
                  <a href="https://yaokaiser.ch"><i class="bi bi-link"></i></a>
                  <a href="https://instagram.com/yaokaiser_"><i class="bi bi-instagram"></i></a>
                  <a href="https://github.com/KaiserYao"><i class="bi bi-github"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Yao Kaiser</h4>
                <span>CTO</span>
                <p>Yao Kaiser, am 6. Juni geboren und Developer für RexStudios. In seiner Freizeit beschäftigt er sich mit Bild- und Videobearbeitung, Kochen und natürlich programmieren. Er ist nebst dem auch für den RA Community Teil verantwortlich.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/julian.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-link"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Julian</h4>
                <span>Chef-Designer</span>
                <p>Beschreibung folgt.</p>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Team Section -->

    <%- include('partials/footer') -%>  
