<%- include('../partials/header') -%>
<%- include('../partials/nav') -%>  

  <main id="main">

    <!-- ======= Our Portfolio Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Link Shortener rlnk.be</h2>
        </div>

      </div>
    </section><!-- End Our Portfolio Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/rlnk/bg1.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/rlnk/bg2.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Projektinformationen</h3>
              <ul>
                <li><strong>Kategorie</strong>: Web-Applikation</li>
                <li><strong>Plattformen</strong>: Windows, macOS, iOS, Android und mehr (Browser)</li>
                <li><strong>Release Datum</strong>: 15. Mai, 2021 <span class="verschoben">Alpha</span></li>
                <li><strong>Alpha Version</strong>: <a href="https://rlnk.be">rlnk.be/shorten</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Kürze deine Links</h2>
              <p>
                Niemand will lange URLs am Browser abtippen. Lange URLs sehen auch in Posts oder Bios nicht so schön aus. Daher haben wir einen URL Kürzer programmiert. Uns ist bewusst, dass bereits andere grössere Plattformen solche anbieten. Wir ermöglichen euch eine neue Plattform ohne Werbung und alles völlig kostenlos.
                Es werden nach und nach mehr Funktionen hinzukommen. Wir werden dabei sehr auf die Community eingehen.<br>
                In Zukunft sind auch LinkLists geplant.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
<%- include('../partials/footer') -%>
